.indicator {
    color: #eef;
    font-size: 15px;
}

.indicator * {
    margin: 5px 0px 5px 12px;
}

.battery.low {
    background-color: #e00;
}

.bar {
    background-color: #200;
    padding-right: 1em;
}
