.indicator {
    color: #eef;
    background-color: #000;
    font-size: 11px;
}

.indicator * {
    margin: 5px 8px;
    padding: 5px 5px;
    background-color: #225;
}

.bar {
    background-color: #000;
}
